---
import BaseLayout from "../layouts/BaseLayout.astro"
import HeaderSection from "../components/HeaderSection.astro"
import VolunteeringSection from "../components/VolunteeringSection.astro"
import ExperienceSection from "../components/work/ExperienceSection.astro"
import ReviewsSection from "../components/ReviewsSection.astro"
import EducationSection from "../components/EducationSection.astro"
import ContactSection from "../components/ContactSection.astro"
---
<BaseLayout>
    <div class="container">
        <HeaderSection />
        <VolunteeringSection />
        <ExperienceSection />
        <ReviewsSection />
        <EducationSection />
        <ContactSection />
    </div>
</BaseLayout>
