---
import {Image} from "astro:assets"
import Section from "./Section.astro"
import SectionHeader from "./SectionHeader.astro"
import joe from "../assets/projects/joe-boat.jpg"
import sailboat from "../assets/icons/sailboat.svg"
---
<Section id="contact">
    <div class="flex flex-col items-center">
        <SectionHeader>Let's Talk!</SectionHeader>
        <div class="card" style="width: 500px">
            <div>
                <figure class="block relative">
                    <Image class="block w-full h-auto" src={joe} alt="Joe Gaebel on a boat" width={1000} quality={95} />
                </figure>
            </div>
            <div class="p-6">
                <div class="flex items-start">
                    <div class="mr-4 shrink-0">
                        <figure class="block relative w-12 h-12" style="margin-top: 1.18rem">
                            <img class="block w-full h-auto" src={sailboat.src} width="48" height="48" alt="Sailboat icon" />
                        </figure>
                    </div>
                    <div class="flex-1 min-w-0 overflow-hidden break-words">
                        <p class="text-[1.5rem] text-dark font-semibold">Joe Gaebel</p>
                        <p class="text-[1rem] mb-0 font-normal" style="color: #4a4a4a; line-height: 1.25">
                            <a href="https://www.github.com/joegaebel" target="_blank">Github</a> | <a href="https://www.linkedin.com/in/joegaebel" target="_blank">LinkedIn</a> | <a href="/mission-statement.pdf" target="_blank">Mission Statement</a> | <a href="/articles">Articles</a>
                        </p>
                        <p class="text-[1rem] mb-0 font-normal" style="color: #4a4a4a; line-height: 1.25">joe@joegaebel.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>
