---
import {Image} from "astro:assets"
import Section from "./Section.astro"
import SectionHeader from "./SectionHeader.astro"
import western from "../assets/logos/western.png"
---
<Section id="education">
    <SectionHeader>Education</SectionHeader>
    <div class="flex flex-col md:flex-row items-stretch -mx-3 -mt-3 -mb-3">
        <div class="flex-1 px-3 py-3 text-center">
            <Image class="inline align-baseline" src={western} alt="Western University" width={110} />
        </div>
        <div class="px-3 py-3 lg:w-3/5 lg:flex-none">
            <div class="text-[2rem] text-[#4a4a4a] font-normal leading-[1.25] mb-1">Western University</div>
            <div class="text-[1.25rem] text-[#4a4a4a] font-normal leading-[1.25] mb-1">Bachelors of Engineering Science: Software Engineering</div>
            <div class="text-[1rem] text-[#4a4a4a] font-normal leading-[1.25]">London Ontario, Canada</div>
        </div>
    </div>
</Section>
