---
import {Image} from "astro:assets"
import SlidingList from "./SlidingList.astro"
import joe from "../assets/projects/joe.jpg"
---
<div class="flex flex-wrap" style="margin: 10rem 1rem">
    <div class="image-container">
        <figure class="block relative w-64 h-64" style="margin-top: -2.8rem; margin-right: 2.3rem; margin-left: 2rem">
            <Image class="rounded-full w-full h-full" src={joe} alt="Joe Gaebel" width={512} height={512} quality={85} loading="eager" fetchpriority="high" />
        </figure>
    </div>
    <div class="mt-4">
        <h1 class="font-header text-[3rem] font-semibold leading-[1.125] text-dark" style="margin-bottom: 0.5rem">Joe Gaebel</h1>
        <div class="font-header text-[1.5rem] text-[#4a4a4a] font-normal leading-[1.25] flex flex-col md:flex-row md:flex-wrap">
            <div>Full Stack Engineer,&nbsp;</div>
            <SlidingList />
        </div>
        <div class="font-header text-[1rem] text-[#4a4a4a] font-normal leading-[1.25] mt-2 mb-6" style="padding-left: 1px">Read my <a
            class="text-info"
            href="/articles"
        >Articles</a> | <a class="text-info" href="/mission-statement.pdf" target="_blank" rel="noreferrer">Mission Statement</a></div>
    </div>
</div>
