<nav class="fixed top-0 left-0 right-0 z-30 bg-white shadow-navbar min-h-[3.25rem] hidden lg:flex justify-center items-center">
    <div>
        <div class="flex grow shrink-0">
            <div class="flex justify-start mr-auto text-[1.25rem] font-semibold">
                <a class="flex items-center px-3 py-2 text-[#4a4a4a]" href="/#volunteering">
                    Volunteering
                </a>
                <a class="flex items-center px-3 py-2 text-[#4a4a4a]" href="/#experience">
                    Experience
                </a>
                <a class="flex items-center px-3 py-2 text-[#4a4a4a]" href="/#reviews">
                    Reviews
                </a>
                <a class="flex items-center px-3 py-2 text-[#4a4a4a]" href="/#education">
                    Education
                </a>
                <a class="flex items-center px-3 py-2 text-[#4a4a4a]" href="/#contact">
                    Contact me
                </a>
                <a class="flex items-center px-3 py-2 text-[#4a4a4a]" href="/articles">
                    Articles
                </a>
            </div>
        </div>
    </div>
</nav>
