---
import Section from "../Section.astro"
import SectionHeader from "../SectionHeader.astro"
import KFExperience from "./KFExperience.astro"
import AtlassianExperience from "./AtlassianExperience.astro"
import PathzeroExperience from "./PathzeroExperience.astro"
import PivotalExperience from "./PivotalExperience.astro"
import MavenlinkExperience from "./MavenlinkExperience.astro"
import SightlineExperience from "./SightlineExperience.astro"
---
<Section id="experience">
    <SectionHeader>Experience</SectionHeader>
    <KFExperience />
    <AtlassianExperience />
    <PathzeroExperience />
    <PivotalExperience />
    <MavenlinkExperience />
    <SightlineExperience />
</Section>
