---
import WorkExperience from "./WorkExperience.astro"
import pathzeroLogo from "../../assets/logos/pathzero.svg"

const principles = ["Extreme Programming", "Lean Software Engineering", "Lean Product Management", "Test-First Programming", "Full Stack Development", "Pair Programming", "Infrastructure As Code", "Continuous Integration", "Continuous Deployment & Delivery"]
const technologies = ["NestJS", "Serverless Framework", "AWS Lambda", "TypeScript", "Prisma", "Node.js", "PostgreSQL", "Bitbucket Pipelines"]
const testingTech = ["Jest", "Vue Test Utils", "mocks-server"]
---
<WorkExperience
    companyName="Pathzero"
    city="Sydney, Australia"
    titles={["Senior Software Engineer"]}
    dateString={["July 2022 to Jan 2023"]}
    years="6 mos."
    imageContainerMarginRight="-1.5rem"
>
    <img slot="image" style="width: 70.5px; margin-top: -0.6rem; margin-left: -0.2rem; margin-right: 34.5px; margin-bottom: 14px" src={pathzeroLogo.src} width="70" height="70" alt="Pathzero logo" />
    <Fragment slot="description">
        <div class="mb-[0.8rem]">Pathzero is on a mission to accelerate the decarbonisation of the global economy. By combining an unparalleled user experience, globally recognised carbon standards, and on-demand sustainability specialists, our digital platform enables organisations around the world to accurately measure, reduce and disclose their carbon emissions information with ease.</div>
        <div class="mb-[0.8rem]">At Pathzero I <b>developed the foundation for delivering modern API services</b> with a well tested NestJS boilerplate API following Clean Architecture, Test-First Programming, and implementing the Command and Query Responsibility Segregation pattern.</div>
        <div class="mb-[0.8rem]">Additionally I <b>paired with product teams</b> to help with adoption of this API foundation, implementing features, and delivering those features to users.</div>
        <div class="mb-[0.8rem]">I <b>helped improve ways of working and engineering practices</b> including test-first programming, one week iterations, running Discovery and Framing workshops, and Lean Inceptions</div>
        <div class="mb-[0.8rem]">As well, I <b>operated as the team engineering lead and product manager</b>, implementing the User and Login portal of the platform, writing and sequencing user stories, planning the application architecture, running sprint planning meetings, performing code reviews, and helping implement features.</div>
        <div class="mt-6">The practices I help instil are:</div>
        <div class="mb-3">{principles.map(k => <span class="tag tag-success mr-1 mt-1 text-[1rem]">{k}</span>)}</div>
        <div class="mt-6">The technologies I use most are:</div>
        <div class="mb-3">{technologies.map(k => <span class="tag tag-info mr-1 mt-1 text-[1rem]">{k}</span>)}</div>
        <div class="mt-6">I test drive with:</div>
        <div class="mb-3">{testingTech.map(k => <span class="tag tag-success-light mr-1 mt-1 text-[1rem]">{k}</span>)}</div>
    </Fragment>
</WorkExperience>
